img{
    height: 300px;
    width: auto;
    margin: auto;
    display: block;
    border-radius: 50%;
   /* box-shadow: 5px 5px 0px #ccc;*/
    padding: 10px;
    border: 2px solid #ccc;

}

div{
    background: #eb0c0c;
    width: 100%;
}