p{
    color:#d400ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: normal;
    word-spacing: normal;
    text-shadow: 5px 5px 5px #b300ff;
}

h1{
    font-weight: normal;
    text-align: center;
    background: #d695f9;
}