h1{
    background: #ff8000;
}

div{
    width: 50%;
    height: 200px;
    background: #ff8000;
    margin: 20px 50px;
    padding: 30px;
    border: 10px solid #000;
    display: inline-block;
}