body{
font-size: 16px;
background: #000000;
background-size: cover;
background-repeat: no-repeat ;
}

h1,h2,h3{
    color: #fff;
}


p{
    color:#fff;
}




p a{
    color: #fff;
}

p1 {
    font-family: Arial, Helvetica, sans-serif, "Myriad Pro";
    font-size: 20px;
    font-weight: normal;
    text-align:center;
}


